@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');

/*-----------------------------------------Colors*/

.navbar-brand, .navbar-nav, .navbar-default {
    background-color: #f4e3d4;
    color: #654db3;
}

.navbar-nav a, .navbar-nav i {
    color:#654db3;
}

.container-fluid{
    background-color: #f4e3d4;

}


/* ----------------------------------------Fonts */
.navbar-brand, .navbar-nav,  .navbar-default {
   font-family: 'Dancing Script', cursive;
   font-weight:700;
   letter-spacing: 2px;
}


/* ----------------------------------------Navbar */

.navbar>.container-fluid {
    justify-content:center;
    text-align: center;
}

.navbar-nav li, .navbar-header {
    margin:10px 0 10px 0;
    padding: 0 10px 0 10px;
    text-align: center;
}
.navbar-brand {
    padding: 0;
    font-size: 42px;
    text-align: center;
    justify-content:center;
}

.navbar-nav a{
    font-size: 24px;
    text-align: center;
    justify-content:center;
}



/* ----------------------------------------Icons */

.navicons {  
    font-size:28px;
    padding: 5px;
}




/* ----------------------------------------Special paddings/margins/text */

header {
    margin: 0;
}


h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding-bottom:5px;
}

.container-fluid{
    text-align: center;
    justify-content:center;

}


/*-----------------------------------------Heading*/


/* ----------------------------------------Banner */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    width:100%;
    margin-left: auto;
    border:15px solid #A387FF;
    border-radius:25px;
    text-align: center;
    
}

.banner-text{
  text-align: center;
  justify-content:center;
  color: white;
}

.banner-text p {
    font-size:18px;
}

.banner-button {
    background-color:#A387FF;
    color:white;
    border-radius:15px;
    text-align: center;
}



/* ----------------------------------------Footer */


footer img {
    height:45px;
}


/* ----------------------------------------Contact Form */


/* ----------------------------------------Media Queries */

@media(min-width:992px) {

.navbar-nav {
    flex-direction: row;
}



}
